.bn-container[data-color-scheme] {
    --bn-colors-editor-text: theme('colors.content');
    --bn-colors-editor-background: transparent;
    --bn-font-family: 'LXGW WenKai Lite', sans-serif
}

.bn-container[data-color-scheme='dark'] {
    --bn-colors-editor-text: theme('colors.content-dark');
}

.bn-editor {
    padding-inline: 0 !important;
}